    <nav class="navbar navbar-dark bg-dark">
        <div class="container-fluid container">
            <span class="navbar-text mx-auto">Copyright &copy; 2021, Steves Mower Repair Services</span>
          </div>
    </nav>

</body>
</html>