<%- include('./partials/header.ejs') %>

	<section id="aboutsection">
		<h2>About Us</h2>

		<img src="images/5d137d42aa78b.image.jpg" class="img-thumbnail" id="aboutImage">

		<p id="aboutText" class="container">Here at Steves Mower Repair, we know a thing or two about keeping mowers and farming equipment in shape and performing well. For over 30 years, we have operated out of the four corners region bringing quality on-site repairs to urban and rural areas. We strive to provide the best service, wherever you are.</p>
	</section>

<%- include('./partials/footer.ejs') %>