<%- include('./partials/header.ejs') %>

	<img src="images/tractors-4569768_1280.jpeg" class="img-fluid" alt="image of large tractor" id="mainPageImage">

	<section id="homesection" class="container">
		<h2>Mission Statement:</h2>
		<p>We strive to provide you with the services and products you need to keep your business running smoothly. Rain or shine, urban or rural, we will meet you anywhere to service your mowers and provide you with excellent service.</p>

		<img src="images/PZ60+Edit.png" class="img-thumbnail" alt="image of ride-on mower" id="mainPageImage2">

		<h2 id="testamonials">Testamonials</h2>
		<div class="d-flex align-content-start flex-wrap">
			<div class="testamonial">
				<p>&#9733; &#9733; &#9733; &#9733; &#9733;</p>
				<p><em>"Steve has a great website"</em></p>
				<p>-Steven (The first) Stephanopolos</p>
			</div>
			<div class="testamonial">
				<p>&#9733; &#9733; &#9733; &#9733; &#9733;</p>
				<p><em>"When my mower went down during peak season, Steve was there to make sure it was up and running before the end of the day. What a guy!"</em></p>
				<p>-Stephen Stevles</p>
			</div>
			<div class="testamonial">
				<p>&#9733; &#9733; &#9733; &#9733; &#9733;</p>
				<p><em>"In our business, mower blades dull frequently and require fast service. Steve ensured our blades were sharpened on a schedule that matched our fast-paced way of work."</em></p>
				<p>-Stevie McStevers</p>
			</div>
			<div class="testamonial">
				<p>&#9733; &#9733; &#9733; &#9733; &#9733;</p>
				<p><em>"Steves refurbished mowers run like new at a fraction of the cost!"</em></p>
				<p>-Steveroonie Stephenson</p>
			</div>
		</div>
	</section>

<%- include('./partials/footer.ejs') %>