 <%- include('./partials/header.ejs') %>

	<section id="productssection" class="container">
		<h1 id="products">Products</h1>
		
		<div class="productsinfo">
			<img class="productsimg img-thumbnail" src="images/38307-ToroCo.jpg">
			<h4>D1 Urban Crawler</h4>
			<p>The urban Crawler is a high performance machine using for mowing fields in recreational parks and outside busineses. It is ideal for low-cut zones where a clean cut is ideal.</p>
			<p>Current shape: <strong>Refurbished with new engine</strong></p>
			<p>cost: <strong>$4000</strong></p>
		</div>

		<hr>

		<div class="productsinfo">
			<img class="productsimg img-thumbnail" src="images/BrushThrasher3-PointPTOHeavy-DutyTractorBrushMower_3_800x.jpg">
			<h4>DL6200 Dragnet</h4>
			<p>The Dragnet is ideal for taking down small brush in rural areas. With tough blades and a rugged build, this device is sure to keep your land tamed.</p>
			<p>Current shape: <strong>Refurbished with resharpened blades</strong></p>
			<p>cost: <strong>$600</strong></p>
		</div>

		<hr>

		<div class="productsinfo">
			<img class="productsimg img-thumbnail" src="images/6400501.jpg">
			<h4>HQ Super</h4>
			<p>The Super is the ideal mower for large scale operations. When extraordinaryly large fileds need to be mowed very quickly (such as landing strip fairings or the sides of a new highway), the Super excels.</p>
			<p>Current shape: <strong>Refurbished with new tires, axles, and blades</strong></p>
			<p>cost: <strong>$4000</strong></p>
		</div>

	</section>

<%- include('./partials/footer.ejs') %>